<!DOCTYPE html>
<html>
<head>
  <title>Fp1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="container footer_cont">
      <p class="text-muted">&copy TechieDodo -- This Bird will Soar Again...</p>
    </div>
  </footer>
</body>
</html>
